@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fcf3f2;
}

footer .col {
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

#custom-header-h4 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

.right-side .topic-text {
    color: black;
}

